@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Introdução */

*{

    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

body{

    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;

}

.history{

    position: relative;
    height: 45%;
    width: 60%;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid rgb(213, 188, 46);

}

.animation{

    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    height: 100%;
    width: 100%;

}

.animation > .alien{

    position: absolute;
    top: 0%;

    height: 20%;
    padding: 2%;
    width: 96%;

}

.animation > .trees{

    height: 60%;
    padding: 2%;
    width: 96%;

    position: absolute;
    bottom: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.animation > .trees > .tree{

    height: 100%;
    width: 100%;

}

.animation > .trees > .tree2{

    height: 100%;
    width: 100%;

    display: none;

}

.animation > .trees > .tree3{

    height: 100%;
    width: 100%;

    display: none;

}

.alien-animation{

    animation: alien-animation 2s linear;
    filter: drop-shadow(0px 0px 20px 20px rgb(255, 220, 82));

}

.text{

    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.0rem;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text > p{

    width: 90%;
    height: 90%;
    
}

.escurecer{

    animation: escurecer 2s linear;

}

@keyframes alien-animation{

    0%{

        top: 0%;

    }

    100%{

        top: 67%;
        width: 0%;

    }

}

@keyframes escurecer {
 
    0%{

        filter: brightness(1);

    }

    100%{

        filter: brightness(0);

    }

}

@media (min-width: 1250px){

    .animation > .trees > .tree3{

        display: inherit;

    }

}

/*--------------------------------------*/

/* Game */

.game{

    display: none;
    position: relative;

    width: 90%;
    height: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.game > .tutorial{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    height: 35%;
    width: 60%;
    background-color: #fff;
    box-shadow: 0px 0px 2px 1px #000;
    border-radius: 10px;
    position: absolute;
    align-self: center;
    z-index: 1;

}

.game > .tutorial > p{

    width: 80%;
    text-align: left;

}

.game > .tutorial > button{

    color: #fff;
    background-color: rgb(0, 106, 255);
    border: none;
    padding: 2.5%;
    border-radius: 10px;
    transition: 1s;
    animation: pulsate-button 2s infinite linear;

}

.game > .tutorial > button:hover{

    transition: 1s;
    background-color: #fff;
    color: rgb(0, 106, 255);
    cursor: pointer;

}

.game > .lifes{

    position: absolute;
    top: 02%;

    width: 60%;
    padding: 2%;
    max-width: 250px;
    height: 07.5%;
    
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);
    animation: pulsate 2s infinite linear;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #fff;

}

.game > .lifes > .life{

    max-width: 40px;
    width: 15%;

}

.game > .game-area{

    margin-top: 10%;
    width: 85%;
    padding: 2.5%;
    height: 75%;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #fff;
    border-radius: 20px;
    border: 2.5px rgb(255, 0, 0) solid;
    animation: pulsate 2s infinite linear;

}

.game > .game-area > .trees{

    width: 90%;
    height: 26%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.game > .game-area > .trees > .tree{

    width: 40%;
    height: 80%;
    max-width: 90px;
    max-height: 120px;

}

.game > .game-area > .trees > .treeHover:hover{

    background-color: rgba(255, 0, 0, 0.181);
    cursor: pointer;
    border-radius: 100%;
    transition: 1s;

}

@keyframes pulsate{

    0%{

        box-shadow: 0px 0px 5px 1px rgb(255, 0, 0);

    }

    50%{

        box-shadow: 0px 0px 2px 1px rgb(153, 0, 0);

    }

    100%{

        box-shadow: 0px 0px 5px 1px rgb(255, 0, 0);

    }

}

@keyframes pulsate-button{

    0%{

        box-shadow: 0px 0px 5px 1px rgb(72, 151, 255);

    }

    50%{

        box-shadow: 0px 0px 2px 1px rgb(0, 57, 103);

    }

    100%{

        box-shadow: 0px 0px 5px 1px rgb(72, 151, 255);

    }

}


@media (min-width: 600px){

    .game > .game-area{

        margin-top: 07.5%;

    }

    .game > .tutorial{

        height: 30%;
        width: 40%;

    }

    .game > .trees > .tree{

        width: 25%;

    }

}